body{
    background-color: aquamarine;
}
#todo{
    background-color: white;
    width: 45%;
    height: auto;
   
    margin: auto;
  

    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 50px;
  
    border-radius: 15px;
}
#grupo{
   display:flex;
}

.form{
    width: 50%;
}
.form input[type=text]
{
    width: 90%;
    height: 50%;
    padding-top: 5px;
   
 
}
#todo input[type=submit]
{
    width: 95%;
    height: auto;
    background-color: green;
    color: white;
    padding-top: 10px;


}
#todo input[type=submit]:hover{
    background-color: greenyellow;
    color: white;
    cursor: pointer;
    width: 95%;
    height: auto;
    padding-top: 10px;

}

#todo input[type=email]
{
    width: 95%;
    height: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
  
}
.grupo input[type=radio]
{
    width:auto;
    
}
.radios{
    width: 80%;
    padding: 10%;
    margin: auto;
    border: 0.06em solid #ccc;
    margin-right: 10%;
}
textarea{
    width: 95%;
}